{% extends 'myapp/base.html' %}
{% block content %}

<h2>Add Marks</h2>

<form method="POST" class="form-box">
    {% csrf_token %}

    <label>Student</label>
    <select name="student" class="form-control">
        {% for s in students %}
        <option value="{{ s.id }}">{{ s.name }}</option>
        {% endfor %}
    </select>

    <label>Subject</label>
    <select name="subject" class="form-control">
        {% for s in subjects %}
        <option value="{{ s.id }}">{{ s.subject_name }}</option>
        {% endfor %}
    </select>

    <label>Marks</label>
    <input type="number" name="marks" class="form-control">

    <label>Exam Type</label>
    <select name="exam_type" class="form-control">
        <option value="Mid">Mid</option>
        <option value="Final">Final</option>
        <option value="Internal">Internal</option>
    </select>

    <button class="btn btn-success mt-3">Add Marks</button>
</form>

{% endblock %}
