{% extends 'myapp/base.html' %}
{% block content %}

<h2>Add Student</h2>

<form method="POST" class="form-box">
    {% csrf_token %}

    <label>Name:</label>
    <input type="text" name="name" class="form-control">

    <label>Email:</label>
    <input type="email" name="email" class="form-control">

    <label>Age:</label>
    <input type="number" name="age" class="form-control">

    <label>Assign Course:</label>
    <select class="form-control" name="course">
        <option value="">-- Select --</option>

        {% for c in courses %}
            <option value="{{ c.id }}">{{ c.course_name }}</option>
        {% endfor %}
    </select>

    <button class="btn btn-success mt-3">Add Student</button>
</form>

{% endblock %}
