{% extends 'myapp/base.html' %}
{% block content %}

<h2>Student List</h2>

<a href="{% url 'add_student' %}" class="btn btn-success mb-3">+ Add Student</a>

<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th><th>Name</th><th>Email</th><th>Age</th><th>Courses</th><th>Actions</th>
    </tr>

    {% for s in students %}
    <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.age }}</td>
        <td>
            {% for c in s.courses.all %}
                {{ c.course_name }}<br>
            {% empty %}
                <span class="text-danger">Not Assigned</span>
            {% endfor %}
        </td>
        <td>
            <a href="{% url 'edit_student' s.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'delete_student' s.id %}"
               onclick="return confirm('Delete student?')"
               class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
